/*==>PROJECTS<==*/
.project-banner {
    width: 100%;
    padding: 5px 10px;
    background-color:#29485F;

    border: 0;
    cursor: pointer;

    text-align: left;
    color: #fff;

    margin-bottom: 10px;
}
.project-banner h3 {
    font-size: 13px;
    text-transform: uppercase;
}

.project-banner p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 300;
}


.project-banner a {
    color: #FF434A;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}