<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--SearchBar-->
    <title>NPC Programador</title>
    <link rel="icon" href="/assets/icon.svg">

    <!--StyleSheet-->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <style>
        .typewriter::after {
            content: "|";
            animation: digit 0.6s ease-in-out infinite;
            margin-left: 4px;
            font-weight: 700;
        }
        @keyframes digit {
            from {
                opacity: 0;
            } to {
                opacity: 1;
            }
        }
    </style>

</head>

<body>
    <div class="container">

        <header>
            <img src="https://avatars.githubusercontent.com/u/82228528?v=4" alt="Perfil">
            <p class="typewriter" >Sejam bem vindos ao meu portifólio, meu nome é Walison Lima.</p>
        </header>

        <div class="slide">
            <p>JavaScript</p>
        </div>

        <div class="panel github">
            <p>102</p>
            <span>Projetos</span>
        </div>

        <button class="panel services">
            <p>Serviços</p>
        </button>


        <div class="description">
            <p> Ela sobreviveu não apenas a cinco séculos, mas também ao salto para a composição tipográfica eletrônica, permanecendo essencialmente inalterada. Foi popularizado na década de 1960 com o lançamento de folhas Letraset contendo passagens de Lorem Ipsum e, mais recentemente, com software de editoração eletrônica como Aldus PageMaker, incluindo versões de Lorem Ipsum.</p>
        </div>


        <footer id="credits">
            <div class="networks">
                <i>instagram</i>
                <i>Linkedin</i>
                <i>GitHub</i>
            </div>


            <p class="logo">NetLink*</p>
        </footer>
    </div>
    <script src="/scripts/typewriter.js"></script>
</body>

</html>