#closeDialogForm {
    width: 40%;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-size: 14px;
    font-weight: 500;

    padding: 6px;
    border: 0;
    cursor: pointer;

    transition: background 0.5s;
}
#closeDialogForm:hover {
    background: rgb(255 0 0 / 0.8);
}

.buttonsArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sendForm {
    width: 55%;
    text-align: center;
    background-color: rgb(20, 145, 9);
    color: #fff;
    font-size: 14px;
    font-weight: 500;

    padding: 6px;
    border: 0;
    cursor: pointer;

    transition: background 0.5s;
}

#sendForm:hover {
    background-color: rgb(20 145 9 / 0.7);
}

/*formulario*/
#posts-projects form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#posts-projects form input {
    margin-bottom: 10px;
    width: 96%;
    padding: 4px 6px;

    border: solid 2px #121212;
    background: transparent;
    color: #fff;
}
#posts-projects form input::placeholder,
#posts-projects form textarea::placeholder {
    color: rgb(118 118 118 / .5);
}
#posts-projects form textarea {
    width: 96%;
    margin-bottom: 26px;
    resize: none;
    padding: 4px 6px;

    border: solid 2px #121212;
    background: transparent;
    color: #fff;
}