@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    background-color: #121212;
    overflow-x: hidden;
}

.container {
    width: clamp( 360px, 100vw, 400px);
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

hgroup #openDialogForm {
    width: 45px;
    height: 45px;

    position: absolute;
    right: -50px;
    bottom: 50px;
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

hgroup img#perfilimage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px #fff;
    margin-bottom: 30px;
}

hgroup p {
    color: #fff;
    line-height: 1.4em;
}

.connections {
    background-color: #333;
    width: 340px;
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    margin-bottom: 10px;
}

.connections p {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    line-height: 1em;
}

.connections p span {
    font-size: 18px;
    font-weight: 300;
}

.options {
    display: flex;
    align-items: center;
    width: 340px;
    justify-content: space-between;
}

.options .cont {
    color: #fff;
    background-color: #333;
    width: 165px;
    height: 165px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 0;
}


.options .github p {
    font-size: 18px;
}

.options .github p span {
    font-size: 34px;
}

.options .services {
    background-color: #FF434A;
}

.options .services span {
    font-size: 18px;
}

.description {
    width: 340px;
    margin-top: 10px;
    background-color: #333;
    padding: 10px;
}

.description p {
    padding: 10px;
    border: 2px solid #121212;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
}

footer#credits {
    margin: 30px 0;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer#credits img {
    width: 36px;
    height: 36px;

    border-bottom: solid 2px transparent;
    padding-bottom: 4px;
    transition: border-bottom 0.6s;
}

footer#credits img:hover {
    border-bottom: solid 2px #FF434A;
}



/*==>PROJECTS<==*/
.project-banner {
    width: 100%;
    padding: 5px 10px;
    background-color:#29485F;

    border: 0;
    cursor: pointer;

    text-align: left;
    color: #fff;

    margin-bottom: 10px;
}
.project-banner h3 {
    font-size: 13px;
    text-transform: uppercase;
}

.project-banner p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 300;
}


.project-banner a {
    color: #FF434A;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}


/*--Global-Config-dialog--*/
.dialog {
    max-height: 600px;
    background-color: #333;
    overflow-x: hidden;
    border: 0;

    position: absolute;
    left: calc(50% - 170px);
    top: calc(50% - 300px);

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.dialog header {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog header p {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
}

.dialog header button {
    width: 35px;
    height: 35px;
    border: 0;
    background-color: #FF434A;
    color: #fff;
    cursor: pointer;
}

.dialog .border {
    border: solid 2px #121212;
    width: 330px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 40px 10px;
    margin: 5px;
}

/*==>GLOBAL-OVERFLOW-dialog<==*/
dialog::-webkit-scrollbar {
    width: 0.8px;
}

dialog::-webkit-scrollbar-track {
    background: #333;
}

dialog::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: 3px solid #FF434A;
}