.container {
    max-width: clamp(740px, 100%, 1280px);
    margin: 0 auto;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
header .typewriter {
    width: 300px;
    font-size: clamp(1em, 1em + 1vw, 2em);
    text-align: center;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px #fff;
    margin-right: 34px;
}